* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./images/vertical-long-exposure-shot-seascape-guernsey-during-sunset_181624-31802.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: sans-serif;
}

.pt-6 {
    padding-top: 6rem;
}

/* .card {
    width: 600px;
    height: 300px;
    background-color: gray;
} */

/* .quote {
    font-size: 28px;
} */
